@model ClienteModel

<div class="row">
    <div class="col-md-12">
        <table class="table-bordered">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>NOME</td>
                </tr>
            </thead>
            <tbody>
                @if(ViewBag.ListaClientes != null){
                    @foreach (var item in (List<ClienteModel>)ViewBag.ListaClientes)
                    {
                        <tr>
                            <td>@item.Id.ToString()</td>
                            <td>@item.Nome.ToString()</td>
                        </tr>
                    }
                }

            </tbody>
        
        </table>
        

    </div>
</div>